<mat-card class="setting-panel-icon">
  <!-- Button to show the panel-->
  <button
    mat-raised-button color="primary"
    (click)="onClickSettings()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-card>

<mat-card id="#settingPanel"
          *ngIf="settingsActivated"
          class="mat-card-setting">
  <!-- Point shape Menu-->
  <mat-radio-group class="example-radio-group" [(ngModel)]="shapeSelected">
    <mat-radio-button class="example-radio-button" *ngFor="let shape of ShapesType" [value]="shape" (click)="onClickItem(shape)">
      {{shape}}
    </mat-radio-button>
  </mat-radio-group>

  <!-- Point size slider -->
  <mat-slider
    class="base-slider"
    [disabled]="disabled"
    [invert]="invert"
    [max]="maxSize"
    [min]="minSize"
    [step]="step"
    [thumb-label]="thumbLabel"
    [tick-interval]="0"
    [(ngModel)]="valueSize"
    (input)="onChangePointSize($event)"
    [vertical]="vertical">
  </mat-slider>
  <div class="example-selected-value">Point Size = {{valueSize.toFixed(2)}}</div>

  <!-- Point opacity slider-->
  <mat-slider
    class="base-slider"
    [disabled]="disabled"
    [invert]="invert"
    [max]="maxOpacity"
    [min]="minOpacity"
    [step]="step"
    [thumb-label]="thumbLabel"
    [tick-interval]="0"
    [(ngModel)]="valueOpacity"
    (input)="onChangeOpacity($event)"
    [vertical]="vertical">
  </mat-slider>
  <div class="example-selected-value">Point Opacity = {{valueOpacity.toFixed(2)}}</div>

  <!-- Rendering Menu-->
  <mat-radio-group class="example-radio-group" [(ngModel)]="selectedRender">
    <mat-radio-button class="example-radio-button" *ngFor="let render of RenderMode" [value]="render"
                      (click)="onClickRender(render)">
      {{render}}
    </mat-radio-button>
  </mat-radio-group>
</mat-card>
